/* Set the height of the map container to 100% of the viewport height */
#map {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.marker-cluster {
    background-color: orange;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 14px;
}

.marker-cluster-small {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.marker-cluster-medium {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.marker-cluster-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

#layerContainer {
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 50px;
    left: -300px; /* Initial position outside the screen on the left */
    padding: 20px;
    background-color: rgba(255, 255, 255); /* Gray with transparency */
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0; /* Rounded only on the right */
    z-index: 1000; /* Ensure it's above the map */
    transition: left 1.2s ease; /* Transition for smooth animation */
}

#layerContainer.here {
    left: 0px; /* Position it to the desired location when 'here' class is added */
}

#layerContainer h2 {
    margin-bottom: 10px;
}

#layerContainer button {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadowy border */
}

