html, body, input, textarea, select, button {
    font-family: 'Kanit', sans-serif ;
    border-color: #736b5e;
    color: rgb(209, 205, 199);;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.marker-cluster {
    background-color: orange;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 14px;
}

.marker-cluster-small {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.marker-cluster-medium {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.marker-cluster-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

#layerContainer {
    height: 300px;
    width: 250px;
    position: absolute;
    bottom: 100px;
    left: -300px; /* Initial position outside the screen on the left */
    padding: 20px;
    background-color: rgb(27,30,31); /* Light gray background */
    border: 1px solid rgb(60,65,68); /* Light border color */
    border-radius: 0 10px 10px 0; /* Rounded only on the right */
    z-index: 1000; /* Ensure it's above the map */
    transition: left 1.2s ease; /* Transition for smooth animation */
}

#layerContainer.here {
    left: 0px; /* Position it to the desired location when 'here' class is added */
}

#layerContainer h2 {
    margin-bottom: 10px;
    color: rgb(232,230,227); /* Primary blue color for headings */
}

.button-container {
    display: flex;
    flex-direction: column;
}

#layerContainer button {
    background-color: rgb(53,57,59);
    color: rgb(232,230,227);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    transition: background-color 1.2s ease; 
}

#layerContainer button:hover {
    background-color: rgb(66,72,75); /* Darker blue on hover */
}

#selectorContainer {
    margin-top: 20px;
}

#selectorContainer label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

select {
    background-color: #181a1b;
}

#selectorContainer select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

/* Animation for sliding in and out */
#layerContainer.transition {
    transition: left 1.2s ease;
}

.leaflet-control-layers-expanded {
    color: rgb(200, 195, 188) !important;
    background-image: initial !important;
    background-color: rgb(24, 26, 27) !important;
}

.leaflet-bar a {
    background-color: rgb(24, 26, 27) !important;
    border-bottom-color: rgb(62, 68, 70) !important;
    text-decoration-color: initial !important;
    color: rgb(232, 230, 227) !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-image: initial !important;
    background-color: rgb(24, 26, 27) !important;
    color: rgb(200, 195, 188) !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 14px !important;
}

body {
    margin: 0;
    overflow: hidden;
}


#gliding-container {
    position: absolute;
    bottom: 69px;
    right: -450px;
    height: 400px;
    width: 400px;
    background-color: rgb(27, 30, 31);
    border: 1px solid rgb(60, 65, 68);
    border-radius: 10px 0 0 10px;
    z-index: 1000;
    transition: right 1.2s ease-in-out;
}

#gliding-container.show {
    right: 0px; /* Slide in */
}

#gliding-container.hide {
    right: -350px; /*slide out but just as much as needed*/
}

#content-glide {
    padding: 10px;
    text-align: center;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 0px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

#reopen-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
}

#layerContainerRight.transition {
    transition: left 1.2s ease;
}

#color-squares-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align squares to the left */
    padding-left: 10px;
}

.color-square {
    display: flex;
    align-items: center; /* Align text vertically in the middle */
    width: 25px;
    height: 25px;
    margin-right: 10px; /* Adjust the margin as needed */
    border: 1px solid #000;
}

.legend-text {
    margin-left: 5px; /* Adjust the margin as needed */
    white-space: nowrap;
}


#top-container {
    position: fixed;
    top: -1050px;
    left: 50%;
    transform: translateX(-50%);
    height: 1000px;
    width: 1250px;
    background-color: rgb(27, 30, 31);
    border: 1px solid rgb(60, 65, 68);
    border-radius: 0 0 10px 10px;
    z-index: 1000;
    transition: top 1.2s ease-in-out;
}

#top-container.show {
    top: -950px;
}
#top-container.open {
    top: 0px;
}

#top-container.hide {
    top: -950px;
}

#content-top {
    padding: 10px;
    text-align: center;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 0px;
}

#close-btn-top {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

#open-btn-top {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
}

.form-control {
    color: rgb(181, 175, 166) !important;
    background-color: rgb(24, 26, 27) !important;
    border-color: rgb(60, 65, 68) !important;
}

.btn-primary {
    color: rgb(232, 230, 227) !important;
    background-color: rgb(0, 98, 204) !important;
    border-color: rgb(0, 86, 179) !important;
}

hr {
    border-right-color: initial !important;
    border-bottom-color: initial !important;
    border-left-color: initial !important;
    border-top-color: rgba(140, 130, 115, 0.1) !important;
}

main {
    padding: 20px;
}

/* Loading Progress */
.progress-bar {
    width: 100%;
    height: 25px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 25px;
    animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

/* Prediction Settings */
#prediction-type {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Image Input and Predict Button */
#image-selector {
    width: calc(100% - 16px);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#predict-button {
    width: calc(100% - 16px);
    background-color: #007bff;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#predict-button:hover {
    background-color: #0056b3;
}

/* Image and Predictions */
hr {
    border: 1px solid #ced4da;
    margin: 20px 0;
}

#selected-image {
    width: 100%;
    height: auto;
    margin-left: 10px;
    border-radius: 4px;
}

h2 {
    margin-left: 10px;
    margin-bottom: 10px;
}

#prediction-list {
    list-style-type: none;
    margin-left: 10px;
}

#prediction-list li {
    margin-bottom: 5px;
}