html, body, input, textarea, select, button {
    font-family: 'Kanit', sans-serif;
    border-color: #736b5e;
    color: #e8e6e3;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.marker-cluster {
    background-color: orange;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 14px;
}

.marker-cluster-small {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.marker-cluster-medium {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.marker-cluster-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

#layerContainer {
    height: 300px;
    width: 250px;
    position: absolute;
    bottom: 100px;
    left: -300px; /* Initial position outside the screen on the left */
    padding: 20px;
    background-color: rgb(27,30,31); /* Light gray background */
    border: 1px solid rgb(60,65,68); /* Light border color */
    border-radius: 0 10px 10px 0; /* Rounded only on the right */
    z-index: 1000; /* Ensure it's above the map */
    transition: left 1.2s ease; /* Transition for smooth animation */
}

#layerContainer.here {
    left: 0px; /* Position it to the desired location when 'here' class is added */
}

#layerContainer h2 {
    margin-bottom: 10px;
    color: rgb(232,230,227); /* Primary blue color for headings */
}

.button-container {
    display: flex;
    flex-direction: column;
}

#layerContainer button {
    background-color: rgb(53,57,59);
    color: rgb(232,230,227);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease; 
}

#layerContainer button:hover {
    background-color: rgb(66,72,75); /* Darker blue on hover */
}

#selectorContainer {
    margin-top: 20px;
}

#selectorContainer label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

select {
    background-color: #181a1b;
}

#selectorContainer select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

/* Animation for sliding in and out */
#layerContainer.transition {
    transition: left 1.2s ease;
}

.leaflet-control-layers-expanded {
    color: rgb(200, 195, 188) !important;
    background-image: initial !important;
    background-color: rgb(24, 26, 27) !important;
}

.leaflet-bar a {
    background-color: rgb(24, 26, 27) !important;
    border-bottom-color: rgb(62, 68, 70) !important;
    text-decoration-color: initial !important;
    color: rgb(232, 230, 227) !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-image: initial !important;
    background-color: rgb(24, 26, 27) !important;
    color: rgb(200, 195, 188) !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 14px !important;
}

body {
    margin: 0;
    overflow: hidden;
}

#gliding-container {
    position: fixed;
    bottom: 100px;
    right: -300px; /* Start off-screen */
    width: 300px;
    height: 200px;
    background-color: #3498db;
    transition: right 0.3s ease-in-out;
    z-index: 1000; /* Adjust this value to be higher than the map's z-index */
}

#gliding-container.show {
    right: 0; /* Slide in */
}

#content {
    padding: 20px;
    color: #fff;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

#layerContainerRight.transition {
    transition: left 1.2s ease;
}


